.Background {
    width: 1440px;
    height: 985px;
    background-color: #eaf1f6;
}

.Taskbar {
    width: 1440px;
    height: 102px;
    background-color: #0d3556;
}

.Button {
    width: 163px;
    height: 41px;
    border-radius: 3px;
    background-color: #7ac44b;
}

.Profile-Box {
    width: 297px;
    height: 297px;
    border-radius: 8px;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.45);
    background-image: linear-gradient(to bottom, #1e658f, #0d3556);
}

.Profile-Box-Shadow {
    width: 297px;
    height: 297px;
    border-radius: 8px;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.45);
    background-image: linear-gradient(to bottom, #1e658f, #0d3556);
}

.Personal-Information-Box {
    width: 297px;
    height: 424px;
    border-radius: 8px;
    background-color: #ffffff;
}

.Text-Bold {
    width: 99px;
    height: 16px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

/*  Header 1 is smaller blue text
 *  Header 2 is bigger blue text
*/

.Header-1 {
    width: 143px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #047ee2;
}

.Header-2 {
    width: 176px;
    height: 23px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #047ee2;
}

.Text-White {
    width: 123px;
    height: 16px;
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Text-Grey {
    width: 133px;
    height: 34px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f6f6f;
}

.Text-Taskbar {
    width: 123px;
    height: 17px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Name {
    width: 127px;
    height: 21px;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.icon-account {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.icon_dependants {
    width: 22px;
    height: 24px;
    object-fit: contain;
}

.icon_treatments {
    width: 22px;
    height: 24px;
    object-fit: contain;
}