<html>
<head>
	<link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
	<h1>Our Home Page</h1>
	<!-- A list
	<ul>
		{% for i in range(num) %}
			<li>bullet {{i}}</li>
		{% endfor %}
	</ul> -->
	<div class="Dashboard">
		<div class="Sarah-Thompson">
			picture
		</div>
		<div class="Button"></div>
		<div class="Profile-Box"></div>
		<div class="Profile-Box-Shadow"></div>
		<div class="Personal-Information-Box"></div>
		<div class="Text-Bold"></div>
		<div class="Text-White"></div>
	
		<div class="Taskbar">
			<img src="img/group-4.png"
			srcset="img/group-4@2x.png 2x,
							img/group-4@3x.png 3x"
			class="Group-4">
	</div>

</body>
<script type='text/javascript' src="{{url_for('static', filename='js/home_page.js')}}"></script>
</html>
